.notFoundMsg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: green;
}
.errorCode{
  font-size: 15vw;
  display: block;
}
.errorMessage{
  margin: 10px;
  font-size: 2.5vw;
  display: block;
}
